.title{
	color: midnightBlue;
}
html, body{
	margin: 0;
}

html, body, .container-fluid{
	background-color: snow;
}

.error-input{
	border: 2px solid tomato;
}

.error-text{
	color: tomato;
	font-weight: bold;
}

.dark-row{
	background-color: #EFEFEF;
}
.fav-btn{
	margin-top: 7px;
	background-color: snow; 
}