<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>WeatherPlanning</display-name>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>csci310.servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FavoritesListServlet</servlet-name>
    <servlet-class>csci310.servlet.favorites.FavoritesListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FavoritesAddServlet</servlet-name>
    <servlet-class>csci310.servlet.favorites.FavoritesAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FavoritesRemoveServlet</servlet-name>
    <servlet-class>csci310.servlet.favorites.FavoritesRemoveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TempSettingServlet</servlet-name>
    <servlet-class>csci310.servlet.TempSettingServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VacationPlanningSearch</servlet-name>
  	<servlet-class>csci310.servlet.vacation.VacationPlanningSearch</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ActivityPlanningActivities</servlet-name>
  	<display-name>ActivityPlanningActivities</display-name>
  	<description></description>
  	<servlet-class>csci310.servlet.activity.ActivityPlanningActivities</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ActivityPlanningSearch</servlet-name>
  	<display-name>ActivityPlanningSearch</display-name>
  	<description></description>
  	<servlet-class>csci310.servlet.activity.ActivityPlanningSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FavoritesListServlet</servlet-name>
    <url-pattern>/api/favorites/list</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FavoritesAddServlet</servlet-name>
    <url-pattern>/api/favorites/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FavoritesRemoveServlet</servlet-name>
    <url-pattern>/api/favorites/remove</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TempSettingServlet</servlet-name>
    <url-pattern>/api/temperature</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VacationPlanningSearch</servlet-name>
  	<url-pattern>/api/vacationPlanning/search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ActivityPlanningActivities</servlet-name>
  	<url-pattern>/api/activityPlanning/activities</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ActivityPlanningSearch</servlet-name>
  	<url-pattern>/api/activityPlanning/search</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>
      30
    </session-timeout>
  </session-config>
</web-app>
